* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 14px;
  overflow-x: hidden;
}

.img-logo {
  width: auto;
  height: 73px;
}

.img-intro {
  width: auto;
  height: auto;
  border-radius: 15px;
  position: absolute;
}

.rounded-borders {
  border-radius: 25px;
}

.background-image-container {
  color: white;
  height: 400px; /* Example height */
  display: flex;
  align-items: center;
  text-align: center;
}

.app-image-start {
  background-image: url("assets/askenzoapp.png"); /* Corrected path */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.api-image-decorative {
  background-image: url("assets/api/decoration.svg"); /* Corrected path */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.screenshot {
  width: 250px;
  border-radius: 10px;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
}

.img-sized {
  width: auto;
  height: 200px;
  border-radius: 15px;
}

.footer-list {
  text-decoration: none;
  text-align: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-title {
  color: var(--bs-warning) !important;
  text-transform: capitalize;
}

.copyright-text {
  font-size: 10px;
}

.footer-text {
  font-size: 13px;
}

.carousel-inner {
  max-width: 768px;
  max-height: 432px;
}

.carousel-item img {
  object-fit: cover;
}

.scale-on-hover {
  transition: 0.2s ease-in-out;
}

.scale-on-hover:hover {
  transform: scale(1.15);
  cursor: pointer;
}

.ending {
  margin-top: 135px !important;
}

.images-swap-webapp {
  margin-top: 9rem;
}

.bump-on-hover {
  transition: 0.2s ease-in-out;
}
.bump-on-hover:hover {
  animation: bump 1s ease-in-out;
}

@keyframes bump {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.03);
  }
  100% {
    transform: scale(1);
  }
}

.bump-on-hover-lg {
  transition: 0.2s ease-in-out;
}
.bump-on-hover-lg:hover {
  animation: bump-lg 0.9s ease-in-out;
}

@keyframes bump-lg {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.08);
  }
  100% {
    transform: scale(1);
  }
}

.scale-on-hover-sm {
  transition: 0.4s ease-in-out;
}

.scale-on-hover-sm:hover {
  transform: scale(1.03);
}
